.products-container {
  display: flex;
  flex-flow: row;
}

.nav-product {
  width: 25%;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  width: 75%;
}

.card {
  width: 30%;
  margin: 0 auto 30px;
}

img {
  height: 200px;
}
@media screen and (max-width: 992px) {
  .nav-product {
    width: 35%;
  }

  .card-container {
    width: 65%;
  }

  .card {
    width: 44%;
    margin: 3% auto;
  }
}
@media screen and (max-width: 768px) {
  .products-container {
    flex-flow: column;
  }

  .nav-product {
    width: 100%;
  }

  .card-container {
    width: 100%;
  }

  .card {
    width: 46%;
    margin: 2% auto;
  }
}
